body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-inverse {
    background-color: #212121;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: auto;
}
.navbar-brand {
    float: none;
    padding: 0;
}
.navbar-header
{
	padding: 1.1em 2em 1.1em 0.5em;
}
.navbar-nav > li > a {
    padding: 2em 1.5em;
}
.navbar-form {
    padding-top: 1em;
}
.error-container p
{
	padding: 15px;
}
.panel-darker
{
	background: #eeeeee;
}
div.wysiwyg-editor,
textarea
{
	overflow: auto; 
	min-height: 200px;
}
div.wysiwyg-toolbar
{
	margin-bottom: 5px;
	margin-top: 5px;
}
div.actions-nav-container
{
	border-width: 0;
	box-shadow: none;
}
.nav>li>a:focus, 
.nav>li>a:hover
{
	/*background-color: inherit;*/
}
.h1,
h1
{
	font-size: 24px;
}
.page-header
{
	margin-top: 20px;
	padding-bottom: 0;
	border-bottom-width: 0;
}
.ticket-note .badge
{
	background-color: #bbbbbb;
}
.ticket-note
{
	margin-bottom: 10px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}
.ticket-info,
.ticket-body,
.ticket-files
{
	padding: 15px;
	display: table-cell;
	vertical-align: top;
}
.ticket-info
{
	background-color: #f5f5f5;
	min-width: 200px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.ticket-note-private .ticket-info
{
	background-color: white;
}
.ticket-body
{
	width: 10000px;
}
.ticket-files
{
	min-width: 200px;
}
.ticket-files .btn
{
	white-space: normal;
    text-align: left;
}
.side-menu,
.right-sidebar
{
	margin-top: 15px;
}
.side-menu .panel-heading,
.right-sidebar .panel-heading
{
	font-weight: bold;
    border-bottom: none;
}
.side-menu .list-group-item,
.right-sidebar .list-group-item
{
	padding-top: 6px;
	padding-bottom: 6px;
    border: none;
}
.side-menu .list-group-item.active, 
.side-menu .list-group-item.active:focus, 
.side-menu .list-group-item.active:hover 
{
	background-color: white;
    color: #555;
    font-weight: bold;
}
.footer
{
	margin-top: 20px;
	margin-bottom: 20px;
}
.progress.in-list
{
	margin-bottom: 0;
}
.draggable-handler
{
	cursor: -moz-grab; 
    cursor: -webkit-grab; 
    cursor: grab;
}
.draggable-handler span
{
	color: silver;
}
#ticket-image-preview img
{
	width: 100%;
}
.emails-container .draggable-handler
{
    padding-left: 10px;
    padding-right: 10px;
}
.emails-container .email-delete
{
    padding-left: 10px;
}
tr.deployment-old td,
tr.deployment-old td a,
tr.server-old td,
tr.server-old td a
{
    color: #dddddd;
}
tr.deployment-test td,
tr.deployment-test td a,
tr.server-test td,
tr.server-test td a
{
    color: #EAC58F;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.btn-group.ticket-list-controls {
    white-space: nowrap;
}
.btn-group.ticket-list-controls > .btn {
    float: none;
    display: inline-block;
}
.selectize-control.single.dropdown-no-caret .selectize-input:after {
    display: none;
}

.table>thead>tr>th {
    border-bottom-width: 1px;
}
.table>tbody>tr>td {
    border-top: none;
}
.well {
    border-width: 0;
}

/*****************************
Further customisations - Julius
*****************************/

/* General */
body {
    margin-top: 6em;
    font-size: 14px;
}
a, a:hover {
    color: #0097A7;
}

.h1, h1 {
    font-size: 1.5em;
    font-weight: bold;
}
.small, small {
    font-size: 90%;
}

/* Header */
.navbar-nav .fa {
	color: #666;
}
.navbar-nav .btn-primary, .navbar-nav .btn-primary:hover {
	box-shadow: none;
}
.navbar-nav .btn-primary:active, .search-form .btn-default:active {
	margin: 0;
	color: #fff;
}

/* Effects */
.navbar-inverse .navbar-nav > li > a {
    transition: all 0.3s ease 0s;
    -webkit-transition-duration: all 0.3s ease 0s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
}

/* Panels */
.panel-default > .panel-heading {
    background-color: #05bbd3;
    color: #fff;
    font-size: 1em;
}
.side-menu .list-group-item, .right-sidebar .list-group-item {
    border-top: 1px solid #ddd;
}
.side-menu .list-group-item.active, .side-menu .list-group-item.active:focus, .side-menu .list-group-item.active:hover {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

/* Buttons - Forms */
.btn {
	font-weight: bold;
    box-shadow: 0 2px 0 0 #aaa;
    background-color: #eee;
}
.btn:hover, .btn:focus, .btn.focus, .btn:active {
	background-image: none;
    background-color: #05bbd3; 
    border-color:#05bbd3;
    color: #fff;
    box-shadow: 0 2px 0 0 #adadad;
}
.btn:active {
	background-color: #0498ac;
    border-color:#0498ac;
    box-shadow: none;
    margin-bottom: -2px;
    margin-top: 2px;
    color: #fff;
}
.input-group-btn .btn {
	box-shadow: none;
}
.form-group .btn {
    box-shadow: 0 2px 0 0 #aaa;
}
#navbar .btn.btn-primary:active, .search-form .btn.btn-default:active {
	margin: 0;
	background-color: #0498ac;
    border-color:#0498ac;
}
/*Button - Defaults */
.btn-default {
	/* background-color: #ff9800;*/
    border-color:#ccc; 
}
.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default.focus:active, 
.btn-default:active:focus, 
.btn-default:active:hover,
.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary.focus:active, 
.btn-primary:active:focus, 
.btn-primary:active:hover,
.btn-danger.active.focus, 
.btn-danger.active:focus, 
.btn-danger.active:hover, 
.btn-danger.focus:active, 
.btn-danger:active:focus, 
.btn-danger:active:hover {
	background-color: #0498ac;
    border-color:#0498ac;
    box-shadow: none;
    color: #fff;
}
.btn-group .btn-default {
    border-color: #ccc;
    border-bottom: none;
} 

/*Button - Primary */
.btn-primary {
	background-color: #ff9800;
    border-color:#e78a00;
    padding-bottom: 5px;
    color: #fff;
}
.btn-primary:hover {
    background-color: #05bbd3; 
    border-color:#05bbd3;
}


/*Button - Danger */
.btn-danger {
	background-color: #c9302c;
	border-color: #c9302c;
    box-shadow: 0 2px 0 0 #b02420;
}
.btn.btn-xs.btn-danger {
    padding: 2px 9px;
}
/*Button - Radiobox */
.dynamic-validation .btn.btn-xs.btn-default {
	background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: 0 2px 0 0 #adadad;
    color: #ccc;
}
.dynamic-validation .btn.btn-xs.btn-default.active {
	background-color: #05bbd3;
	border-color:#05bbd3;
    color: #fff;
}
.dynamic-validation .btn.btn-xs.btn-default:active {
	box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.btn-group-xs > .btn, .btn-xs {
    padding: 3px 9px;
    border-color: 222;
}

/* Button - Toggle */
.toggle.btn.btn-primary .btn-default {
	background-color: #fff;
	background-image: none;
    border-color: #adadad;
    color: #333;
}
.toggle.btn.btn-primary, .btn.btn-primary.toggle-on {
	background-color: #05bbd3;
	border-color:#05bbd3;
}
.toggle.btn.btn-default, .btn.btn-primary.toggle-off {
	background-image: none;
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #ccc;
}
.toggle .btn.btn-default.active.toggle-off {
	color: #adadad;
}
.toggle .btn.btn-default.active.toggle-off:hover {
	color: #fff;
}
.toggle .btn:active {
    margin-top: 0;
}
.toggle-handle {
	background: #fff;
}
.toggle-handle.btn.btn-default {
	border-color: #adadad;
}

/* Deployments */
/* .deployment-old .btn-group .btn-default {
    opacity: 0.6;
} */
.btn-info, .deployment .btn-group .btn-default {
    background-color: #ff9800;
    border-color:#e78a00;
    color: #fff;
}
.deployment .btn-group .btn-default:hover {
    background-color: #05bbd3; 
    border-color:#05bbd3;
}
.deployment .btn-group .btn-default:active {
    background-color: #0498ac;
    border-color:#0498ac;
}
.log-details {
    margin-top: 2em;
    max-width: inherit !important;
}


/* Tables */
.table-condensed tr {
    border-bottom: 1px solid #ddd;
}

/* Forms */
/* .form-control {
    background-color: #efefef;
} */
.nav .form-control {
    width: 100% !important;
    max-width: 150px;
}

/* Login page */
body#login {
    background: #0096a7 url('../img/bg_login.jpg') top no-repeat;
    background-size: cover;
    margin-top: 0;
}
body#login .logo {
    text-align: center;
    padding-bottom: 1em;
}
#login .container {
    position: relative;
    top: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
}
.loginbox {
    background-color: #fff;
    margin: 0 auto;
    padding: 2em;
    border-radius: 0.5em;
    max-width: 350px;
}

/* User page */
.btn-xs.active, .btn-xs:active, .open > .dropdown-toggle.btn-xs, .btn.btn-xs.inactive.active {
    background-color: #FF9800;
    border-color:#e78a00;
    color: #fff;
}
.btn.btn-xs.inactive {
    background-color: #ccc;
    border-color:#ccc;
}

/* Footer */
.row.footer {
    border-top: 1px solid #999;
    padding: 1em;
    width: 100%;
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 4em;
}
.footer {
	height: auto;
    position: absolute;
    bottom: 0;
}

/* Responsive */
@media (max-width: 1024px) {
	.navbar-nav > li > a {
	    padding: 2em 1em;
	}
	.navbar-nav .fa {
		display: none;
	}
}
@media (max-width: 767px) {
    .navbar-header {
    	padding: 1em;
    }
    .nav > li {
    	border-bottom: 1px solid #333;
    }
    .navbar-nav > li > a {
        padding: 0.8em 1em;
    }
    .navbar-nav {
	    margin: 1px -15px;
	}
	.navbar-nav .fa {
		display: inline;
	}
    .navbar-toggle {
    	margin-right: 0;
    	margin-top: 3px;
    }
    .footer .pull-right {
    	text-align: center;
    	float: none !important;
    }
}